<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KSJAIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66AF3D421D2BFA5900D6419D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66AF3D5B1D2BFA5A00D6419D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66AF3D661D2BFA5A00D6419D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
